<div class="form-group row">
    <label for="Status" class="col-md-4 col-form-label">Status</label>
    <select class="form-control col-md-4" name ="Status" id="Status">
        <option value="open">Open</option>
        <option value="close">Close</option>
    </select>
</div>
<div class="form-group row">
    <label for="Quote_Type" class="col-md-4 col-form-label">Quote Type</label>
    <input type="text" class="form-control col-md-4" [(ngModel)]="Quote_Type" id="Quote_Type" readonly>
    
    <label for="Quote_Num" class="col-md-2 col-form-label">Quote Num</label>
    <input type="text" class="form-control col-md-1" [(ngModel)]="QuoteID" id="Quote_Num" readonly>
   
</div> 
<div class="form-group row">
    <label for="Task_type" class="col-md-4 col-form-label">Task Type</label>
    <input type="text" class="form-control col-md-4" [(ngModel)]="Task_type" id="Task_type" readonly>
</div> 
<div class="form-group row">
    <label for="Contact" class="col-md-4 col-form-label">Contact Name</label>
    <input type="text" class="form-control col-md-4" [(ngModel)]="Contact" id="Contact" readonly>
</div>
<div class="form-group row">
    <label for="Task" class="col-md-4 col-form-label">Quote</label>
    <input type="text" class="form-control col-md-4" [(ngModel)]="Task" id="Task" readonly>
</div>
<div class="form-group row">
    <label for="Due_Date" class="col-md-4 col-form-label">Due Date</label>
    <input type="datetime" class="form-control col-md-4" [(ngModel)]="Due_Date" id="Due_Date" readonly>
</div>
<div class="form-group row">
    <label for="task_des" class="col-md-4 col-form-label">Task Description</label>
</div>

    <input type="text" class="form-control col-md-8" [(ngModel)]="Task" id="task_des" style="height:120px; width:680px;" maxlength ="1000" readonly>
