
.form-horizontal {
    width: 500px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    /*text-align: center;*/
}

.login{
    position: relative;
    left:350px;
}

input.ng-invalid.ng-touched {border: 1px solid red}

.form-text{
    color: red;
    position: relative;
    left: 200px;
}
